<h3 id="signin-text">Sign In</h3>
<form action="/admin" method="post">
    <label for="username"><strong>Username</strong></label>
    <input 
        type="text" 
        placeholder="Enter Username" 
        id="username" 
        name="username"
    >

    <label for="password"><strong>Password</strong></label>
    <input type="password" placeholder="Enter Password" id="password" name="password">

    <input type="submit" value="Login" class="btn">
</form>

<h3>Register</h3>
<form action="/admin/register" method="post">
    <label for="username"><strong>Username</strong></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><strong>Password</strong></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Register" class="btn">
</form>